<% if (showFooter === true) { %>
    <footer class="bg-dark py-3">
      <p class="text-white text-center mb-0">&copy; Copyrigth Ecommerce - Desarrollado por <span class="text-danger">Sonsoles Grondona Fernández</span></p>
    </footer>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/main.js" type="module"></script>
</body>
</html>